<div class="container">
    <menu>
        <!-- Icono que direcciona al inicio -->
        <button mat-button>
            <mat-icon (click)="TopMovies()" routerLink="">home</mat-icon>
        </button>
        <!-- Menu para las categorias de Peliculas -->
        <button mat-button [matMenuTriggerFor]="movieMenu">Peliculas</button>
        <mat-menu #movieMenu="matMenu" yPosition="below">
            <button mat-menu-item 
            *ngFor ="let movie_gender of _result.movies_genres " 
            (click)="MoviesCategories(movie_gender.id)"
            routerLink="">
                {{movie_gender.name}}
            </button>
        </mat-menu>
        <!-- Menu para las categorias de Series -->
        <button mat-button [matMenuTriggerFor]="seriesMenu">Series</button>
        <mat-menu #seriesMenu="matMenu" yPosition="below">
            <button mat-menu-item (click)="TopSeries()" routerLink="Series">Top</button>
            <button mat-menu-item
            *ngFor ="let serie_gender of _result.series_genres " 
            (click)="SeriesCategories(serie_gender.id)"
            routerLink="Series">
                {{serie_gender.name}}
            </button>
        </mat-menu>
    </menu>
    <mat-form-field class="query">
        <mat-label>Busqueda</mat-label>
        <input  type="text" 
                matInput 
                [formControl]="QueryValue"
                [matAutocomplete]="auto"
                >
        <mat-autocomplete autoActiveFirtsOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
        <button mat-button *ngIf="QueryValue" matSuffix mat-icon-button aria-label="Clear" (click)="ClearQueryValue()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
